/* frm: I added classes to distinguish between desktop and 
 *      mobile cases - appIsDesktop and appIsMobile.  This
 *      allowed me to set up the grid differently for the
 *      two cases.  For desktop, the app has a left panel
 *      containing the search bar with the map on the
 *      right.  For mobile, there is just a single column
 *      withy three rows (search, map, mobile-list-of-events).
 */

.appIsDesktop {
  display: grid;                /* frm: added for new map layout UI */
  grid-template-columns: minmax(180px,300px) auto;

  #map{
    height: 100vh;    /* frm: changed from % to vh */
    z-index: 9;
  }

}

.appIsMobile {
  display: grid;                /* frm: added for new map layout UI */
  grid-template-rows: min-content auto min-content;

  #map{
    /* height: 100vh; */   /* frm: don't need height for mobile */
    /* ??? frm: 
     *      Actually I might need the height for mobile.  The documentation
     *      for leaflet says that there needs to be a defined height.
     */
    z-index: 9;                 /* frm: not sure z-index does anything for mobile */
  }

}

/* frm: I added a <div class="mobileNavWrapper> around the mobile 
 *      previous, rsvp, next buttons in order to get the positioning 
 *      of the buttons to work out.  There is probably a way to do it 
 *      without resorting to creating their own container, but I 
 *      didn't know how to do it.  In any event, the only reason for
 *      this <div> is to get the positioning of the buttons
 *      to be left, center, right.
 */

/* frm: commented this out for now - replaced with code immediately below
 *
.mobileNavWrapper {
  ** position: relative; **   ** frm: using flex below means I don't need relative position **
  margin-top: 5px;
  margin-bottom: 5px;
}
 *
 */

.mobileNavWrapper {     /* frm: new code based on flex */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app{
  height: 100vh;                /* frm: added for new map layout UI */

  #startLoad{
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding-top: 20vh;
    background-color: rgba(183, 228, 207,0.85);
    height: 100%;
    color: #232444;
    margin-top: 0px;

    @media only screen and (max-width: 425px) {
      padding-top: 25vh;
    }


    #firstLine, #secondLine, #thirdLine{
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;

    }

    #firstLine, #thirdLine{
      font-size: 10vh;
      img{
        height: 10vh;
      }

      @media only screen and (max-width: 768px) {
        font-size: 10vw;
        img{
          height: 10vw;
        }
      }
    } 
    #secondLine{
      font-size: 20vh;
      color: white;
      font-style: italic;
      text-shadow: -1px -1px 0 #232444, 1px -1px 0 #232444, -1px 1px 0 #232444, 1px 1px 0 #232444;
      @media only screen and (max-width: 768px) {
        font-size: 20vw;
      }
    }

    #searchCTA{
      color: #b61b28;
      font-style: italic;
      font-size: 3vh;
      @media only screen and (max-width: 768px) {
        font-size: 3vw;
      }
    }


  }

}

html, body, #root, .app {
  height: 100%;
}

.searchBar{
  /* padding-top: 2%; */        /* frm: commented out for new map layout UI */
  /* padding-bottom: 2%; */     /* frm: commented out for new map layout UI */
  background-color: #232444;
  /* max-width: 300px; */       /* frm: commented out for new map layout UI */
  /* width: 32%; */             /* frm: commented out for new map layout UI */
  /* position: fixed; */        /* frm: commented out for new map layout UI */
  /* left: 2%; */               /* frm: commented out for new map layout UI */
  /* top: 2%; */                /* frm: commented out for new map layout UI */
  z-index:11;                   /* frm: not sure we need z-index anymore */
  box-shadow: 10px 0px 5px rgba(0, 0, 0, .3);   /* frm: don't need bottom shadow for new map layout UI */

}

/* frm: Added class, desktopSearch, as an analog for the preexisting mobileSearch
 *      so that I could have a different layout (using grid) for the deesktop
 *      use case.  In this case the search bar has two rows that take up all 
 *      of the vertical space.
 */

.desktopSearch {
  /* For desktop, we want two rows */
  height: 100vh;                        /* frm: added for new map layout UI */
  display: grid;                        /* frm: added for new map layout UI */
  grid-template-rows: auto auto;        /* frm: added for new map layout UI */
  grid-gap: 0;                          /* frm: added for new map layout UI */
}

.mobileSearch {
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
  touch-action: manipulation;

  #zipForm{
    padding-left: 0%;
    padding-right: 5%;
  }

  #zipInput {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 80%;
  }
  #locateMe {
    width: 25% !important;
  }

  .kindOfEvent, .searchRange{
    padding-top: 1%;
    padding-bottom: 1%;
  }

}

.activeList{
  padding-bottom: 0px;
}

.userInput{

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;    /* frm: changed from 7% to 5% */
  padding-top: 5%;
  padding-bottom: 5%;

  #zipForm{
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color:#232444;
    border-right: 1px solid white;
    padding-right: 9%;
  }

  label[for=zipInput] {
    color: white;
    position: fixed;
    font-size: 24px;
  }

  [data-has-input=true] label[for=zipInput] {
    color: transparent;
  }

  #zipInput{
    height: 30%;
    width: 80%;
    font-size: 24px;
    margin-right: 13%;
    color: white;
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    z-index:10;
  }

  #rangeInput{
    height: 30%;
    min-width:105px;
    font-size: 24px;
    border: none;
    background: none;

  }

  #submitZip{
    height: 35px;
    padding: 0;
    font-size: 24px;
    color: white;
    background-color: #232444;
    border: none;
  }

  #submitZip{
    height: 35px;
    padding: 0;
    font-size: 24px;
    color: white;
    background-color: #232444;
    border: none;
  }


  #locateMe {
    height: 35px;
    padding: 0;
    padding-left: 7%;
    color: white;
    background-color: #232444;
    border: none;
    img {
      width: 35px;
      z-index: 12;
    }
  }


}

.userOptions{
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.searchRange{
  font-size: 16px;
  background-color: #f5f5f5;
  height:30px;
  line-height:30px;
  text-align: left;
  padding-left: 5px;
}

.searchRange select{
  background: none;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  padding: 0px 5px 0px 5px;    /* frm: changed right-pad from 20px to 5px */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(./downArrow.svg);
  background-position: calc(100% - 8px) 85%;
  background-size: 12px 12px;
  background-repeat: no-repeat;

}

.kindOfEvent {
  font-size: 16px;
  background-color: #f5f5f5;
  height:30px;
  line-height:30px;
  text-align: left;
  padding-left: 5px;
}

.kindOfEvent > p {
    margin: 0;          /* inhibit normal margins - so we can pack stuff together */
}

.searchRange > p {
    margin: 0;          /* inhibit normal margins - so we can pack stuff together */
}

.kindOfEvent select{
  background: none;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  padding: 0px 20px 0px 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(./downArrow.svg);
  background-position: calc(100% - 8px) 85%;
  background-size: 12px 12px;
  background-repeat: no-repeat;

}



.eventList{
  background-color: white;
  /* height: 500px; */          /* frm: commented out for new map layout UI */
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;

  .eventCard{
    text-decoration: none;
    color: #232444;

    h3{
      text-transform: uppercase;
    }

    :hover{
      color: white;
    }

    li{
      list-style-type: none;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      position: relative;

      .eventRSVP{
        visibility: hidden;
        text-align: right;
      }

    }

    li:hover{
      background-color: #232444;

      .eventRSVP{
        visibility: visible;
      }
    }

  }

  .kicker{
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
  }

}

.mobileList{
  margin: none;
  font-size:calc(10px + 1vw);   /* frm: changed from 12px to 10px to conserve whitespace */
  touch-action: manipulation;
  position: relative;           /* frm: added so children can be positioned absolutely */
  .eventCard{

    text-decoration: none;
    color: #232444;
    /* position: fixed; */      /* frm: commented out for new map layout UI */
    z-index: 10;
    bottom: 10%;        /* changed from 13% to 10% */
    background-color: white;
    width: 90%;
    left: 5%;
    max-height: 30vh;
    min-height: 10vh;  /* changed from 20vh to 10vh to conserve whitespace */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    /* border: 1px solid #232444; */ /* frm: removed as part of new layout UI */

    h3{
      margin-top: 10px;  /* frm: smaller for mobile to conserve whitespace */
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    p {
      margin: 2px;
    }

    .mobileInfo{

      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 1%;

      .eventRSVP{
        display: none;  /* frm: changed from visibility: hidden to display: none to conserve whitespace */
        text-align: right;
      }

    }
  }

  button{
    /* position: absolute; */         /* frm: changed for new map layout UI */
    bottom: 3%;         /* frm: changed from 5% to 3% */
    z-index: 10;
    background-color: #232444;
    border: none;
    color: white;
    font-size: 16px;    /* frm: changed from 24px */
    height: 30px;       /* frm: changed from 40px to 30px */
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);

  }
  #mobileRSVP{
    /* left: 35%; */ /* frm: commented out trying to get flex to work */
    /* width: 30vw; */ /* frm: commented out because I now have it flex its width */
    flex: 1;
    a{
      text-decoration: none;
      color:white;
    }
  }
  #leftIndex{
    /* left: 25px; */ /* frm: commented out trying to get flex to work */
  }
  #rightIndex{
    /* right: 25px; */ /* frm: commented out trying to get flex to work */
  }
}



// Disables the up/down arrows on the number input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
