.app{
  #map{
    height: 100%;
    z-index: 9;
  }
}

html, body, #root, .app {
  height: 100%;
}

.searchBar{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #232444;
  //width: 300px;
  width: 25%;
  position: fixed;
  left: 2%;
  top: 2%;
  z-index:10;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
}

.activeList{
  padding-bottom: 0px !important;
}

#zipForm{
  padding-left: 10%;
  padding-right: 10%;
}

#zipInput{
  width: 100%;
  //height: 30px;
  height: 30%;
  font-size: 24px;
  color: white;
  margin: auto;
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  z-index:10;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.eventList{
  background-color: white;
  height: 500px;
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 0px;
  padding-left: 0px;
}

.eventCard{
  text-decoration: none;
  color: #232444;

  h3{
    text-transform: uppercase;
  }

  :hover{
    color: white;
  }

  li{
    list-style-type: none;
    padding: 10%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    position: relative;

    .eventRSVP{
      position: absolute;
      bottom: 2%;
      right: 6%;
      visibility: hidden;
    }

  }

  li:hover{
    background-color: #232444;

    .eventRSVP{
      visibility: visible;
    }
  }

}

// Disables the up/down arrows on the number input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}