.app{
  #map{
    height: 100%;
    width: 68%;         // frm: I added this line to make entire map be to the right of the SearchBar
    float: right;       // frm: I added this line to make entire map be to the right of the SearchBar
    z-index: 9;
  }

  #startLoad{
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding-top: 20vh;
    background-color: rgba(183, 228, 207,0.85);
    height: 100%;
    color: #232444;
    margin-top: 0px;

    @media only screen and (max-width: 425px) {
      padding-top: 25vh;
    }


    #firstLine, #secondLine, #thirdLine{
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;

    }

    #firstLine, #thirdLine{
      font-size: 10vh;
      img{
        height: 10vh;
      }

      @media only screen and (max-width: 768px) {
        font-size: 10vw;
        img{
          height: 10vw;
        }
      }
    }
    #secondLine{
      font-size: 20vh;
      color: white;
      font-style: italic;
      text-shadow: -1px -1px 0 #232444, 1px -1px 0 #232444, -1px 1px 0 #232444, 1px 1px 0 #232444;
      @media only screen and (max-width: 768px) {
        font-size: 20vw;
      }
    }

    #searchCTA{
      color: #b61b28;
      font-style: italic;
      font-size: 3vh;
      @media only screen and (max-width: 768px) {
        font-size: 3vw;
      }
    }


  }

}

html, body, #root, .app {
  height: 100%;
}

.searchBar{
  // padding-top: 2%;           // frm: I commented this out - because map is no longer behind SearchBar
  // padding-bottom: 2%;        // frm: I commented this out - because map is no longer behind SearchBar
  background-color: #232444;
  //width: 300px;
  width: 32%;
  height: 100%;         // frm: I added this - to make SearchBar use entire height of window
  position: fixed;
  // left: 2%;          // frm: I commented this out - because map is no longer behind SearchBar
  // top: 2%;           // frm: I commented this out - because map is no longer behind SearchBar
  z-index:11;
  // box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);

}

.mobileSearch {
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
  padding-top: 4%;
  padding-bottom: 4%;
  touch-action: manipulation;

  #zipForm{
    padding-left: 0%;
    padding-right: 5%;
  }

  #zipInput {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 80%;
  }
  #locateMe {
    width: 40px !important;
  }
}

.activeList{
  padding-bottom: 0px;
}

.userInput{

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 5%;
  padding-right: 7%;

  #zipForm{
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color:#232444;
    border-right: 1px solid white;
    padding-right: 9%;
  }

  label[for=zipInput] {
    color: white;
    position: fixed;
    font-size: 24px;
  }

  [data-has-input=true] label[for=zipInput] {
    color: transparent;
  }

  #zipInput{
    height: 30%;
    width: 80%;
    font-size: 24px;
    margin-right: 13%;
    color: white;
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    z-index:10;
  }
  
  #rangeInput{
    height: 30%;
    min-width:105px;
    font-size: 24px;
    border: none;
    background: none;

  }

  #submitZip{
    height: 35px;
    padding: 0;
    font-size: 24px;
    color: white;
    background-color: #232444;
    border: none;
  }

  #submitZip{
    height: 35px;
    padding: 0;
    font-size: 24px;
    color: white;
    background-color: #232444;
    border: none;
  }


  #locateMe {
    height: 35px;
    padding: 0;
    padding-left: 7%;
    color: white;
    background-color: #232444;
    border: none;
    img {
      width: 35px;
      z-index: 12;
    }
  }


}

.searchRange {
  font-size: 16px;
  background-color: #f5f5f5;
  height:30px;
  line-height:30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.searchRange select{
  background: none;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  padding: 0px 20px 0px 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(./downArrow.svg);
  background-position: calc(100% - 8px) 85%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
    
}

.kindOfEvent {
  font-size: 16px;
  background-color: #f5f5f5;
  height:30px;
  line-height:30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.kindOfEvent select{
  background: none;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  padding: 0px 20px 0px 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(./downArrow.svg);
  background-position: calc(100% - 8px) 85%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
    
}



.eventList{
  background-color: white;
  // height: 500px;    // frm: I commented this out
  height: 80%;         // frm: I added this
                        // frm: With height = 100% it looks pretty good, except
                        //      that the kicker doesn't appear (that is the
                        //      thing that says that if you didn't find what
                        //      you wanted you could host your own event.
                        //      Not quite sure how to have that automatigically
                        //      appear at the end of the scrolling...
                        // ??? frm: At 100% the last two "kicker" cards (after
                        //          my changes) did not appear.  I changed
                        //          the height to be 80% and then the kickers
                        //          appeared when I scrolled to the end.  I
                        //          think that for some reason 100% makes
                        //          the event list even longer than the window
                        //          which is odd.  I need to grok this before 
                        //          I show this to anyone...
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;

  .eventCard{
    text-decoration: none;
    color: #232444;

    h3{
      text-transform: uppercase;
    }

    :hover{
      color: white;
    }

    li{
      list-style-type: none;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      position: relative;

      .eventRSVP{
        visibility: hidden;
        text-align: right;
      }

    }

    li:hover{
      background-color: #232444;

      .eventRSVP{
        visibility: visible;
      }
    }

  }

  .kicker{
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
  }

}

.mobileList{
  margin: none;
  font-size:calc(12px + 1vw);
  touch-action: manipulation;
  .eventCard{

    text-decoration: none;
    color: #232444;
    position: fixed;
    z-index: 10;
    bottom: 13%;
    background-color: white;
    width: 90%;
    left: 5%;
    max-height: 30vh;
    min-height: 20vh;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    border: 1px solid #232444;

    h3{
      text-transform: uppercase;
    }

    .mobileInfo{

      padding-left: 5%;
      padding-right: 5%;

      .eventRSVP{
        visibility: hidden;
        text-align: right;
      }

    }
  }

  button{
    position: fixed;
    bottom: 5%;
    z-index: 10;
    background-color: #232444;
    border: none;
    color: white;
    font-size: 24px;
    height: 40px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);

  }
  #mobileRSVP{
    left: 35%;
    width: 30vw;
    a{
      text-decoration: none;
      color:white;
    }
  }
  #leftIndex{
    left: 25px;
  }
  #rightIndex{
    right: 25px;
  }
}



// Disables the up/down arrows on the number input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
