.app{
  #map{
    height: 100%;
    z-index: 9;
  }
}

html, body, #root, .app {
  height: 100%;
}

.searchBar{
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #232444;
  //width: 300px;
  width: 32%;
  position: fixed;
  left: 2%;
  top: 2%;
  z-index:10;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);

}

.mobileSearch {
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
  padding-top: 4%;
  padding-bottom: 4% !important;

  #zipForm{
    padding-left: 4%;
    padding-right: 4%;
  }

  #zipInput {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 80%;
  }
}

.activeList{
  padding-bottom: 0px;
}

#zipForm{
  padding-left: 10%;
  padding-right: 10%;
}

#zipInput{
  width: 100%;
  //height: 30px;
  height: 30%;
  font-size: 24px;
  color: white;
  margin: auto;
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  z-index:10;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.eventList{
  background-color: white;
  height: 500px;
  overflow:hidden;
  overflow-y:scroll;
  margin-bottom: 0px;
  padding-left: 0px;

  .eventCard{
    text-decoration: none;
    color: #232444;

    h3{
      text-transform: uppercase;
    }

    :hover{
      color: white;
    }

    li{
      list-style-type: none;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      padding-bottom: 5%;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      position: relative;

      .eventRSVP{
        visibility: hidden;
        text-align: right;
      }

    }

    li:hover{
      background-color: #232444;

      .eventRSVP{
        visibility: visible;
      }
    }

  }
}

.mobileList{
  margin: none;
  font-size:calc(12px + 1vw);
  .eventCard{

    text-decoration: none;
    color: #232444;
    position: fixed;
    z-index: 10;
    bottom: 13%;
    background-color: white;
    width: 90%;
    left: 5%;
    max-height: 30vh;
    min-height: 20vh;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
    border: 1px solid #232444;





    h3{
      text-transform: uppercase;
    }

    .mobileInfo{

      padding-left: 5%;
      padding-right: 5%;

      .eventRSVP{
        visibility: hidden;
        text-align: right;
      }

    }


  }

  button{
    position: fixed;
    bottom: 5%;
    z-index: 10;
    background-color: #232444;
    border: none;
    color: white;
    font-size: 24px;
    height: 40px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);

  }
  #mobileRSVP{
    left: 35%;
    width: 30vw;
    a{
      text-decoration: none;
      color:white;
    }
  }
  #leftIndex{
    left: 25px;
  }
  #rightIndex{
    right: 25px;
  }
}



// Disables the up/down arrows on the number input
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
